<div class="row">
    <div class="col-12 mt-5">
        <h1 class="display-4">Giỏ Hàng</h1>
    </div>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Hình Ảnh</th>
                    <th>Sản Phẩm</th>
                    <th>Giá</th>
                    <th>Số Lượng</th>
                    <th>Tổng Cộng</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listCart">
                    <td><img style="width:200px;" [src]="item.image" /></td>
                    <td style="font-size:25px;">{{item.name}}</td>
                    <td>{{item.price}}$</td>
                    <td>
                        {{item.amount}}
                        <div class="btn-group">
                            <button class="btn btn-info border-right" (click)="decreaseAmount(item.id)">-</button>
                            <button class="btn btn-info border-left" (click)="increaseAmount(item.id)">+</button>
                        </div>
                    </td>
                    <td>{{item.amount * item.price}}$</td>
                    <td>
                        <button class=" btn btn-danger" (click)="removePhone(item.id)">x</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="font-size:30px" class="font-weight-bold">Tổng Tiền</td>
                    <td style="font-size:30px" class="font-weight-bold">{{total}}$</td>
                    <td>
                        <button style="font-size:30px" class="btn btn-info">Thanh Toán</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>